body{
    background: cadetblue;
    font-family: manospace, Arial, serif;
}
h1{
    -webkit-text-stroke: 1px black;
    color: white;
    text-align: center;
}
#envios{
    width:300px;
    padding:16px;
    border-radius:10px;
    margin:auto;
    background-color:#ccc;
}
